body {
    margin: 0px;
    padding: 0px;
    background: #efefef;
}

.header {
    position: sticky;
    top: 0px;
}
.header h1 {
    height: 5vh;
    padding: 10px;
    margin: 0px;
    text-align: center;
    background: rgb(181, 135, 135);
    color: white;
    
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    padding: 20px;
    width: 1200px;
    height: auto;
    background: #efefef;
    box-shadow: 1px 1px 5px black;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
    margin: 0px auto;
    
}
.product {
    width: 250px;
    height: auto;
    padding: 10px;
    border:1px solid rgb(150, 139, 139);
    margin: 10px 5px;
    border-radius: 5px;
    overflow: hidden;
    
}
.hoverEffect:hover {
    transform: scale(1.1);
    transition: ease-in-out 1s;
    overflow: hidden;
}

.hoverEffect {
    transition: ease-in-out 1s;
    
}

button {
    padding: 10px;
    
    cursor: pointer;
}
.imgPro img {
    width: 100%;
}

.header1 {
    position: sticky;
    bottom: 0px;
}
.header1 p {
    padding: 10px;
    text-align: center;
    margin: 0px;
    background: rgb(181, 135, 135);
    color: white;
    
}